* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(210, 199, 199);
}
h1 {
  padding: 1.5rem;
  font-size: 3rem;
  background-color: black;
  color: beige;
  text-align: center;
  display: flex;
  justify-content: center;
}

.toolBar {
  margin-top: 3rem;
  margin-left: 2rem;
  box-sizing: content-box;
  width: 250px;
  height: 35px;
  border: none;
  background-color: rgb(181, 162, 162);
  border-radius: 0.5rem;
  color: whitesmoke;
}
.toolBar::placeholder {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  width: 500px;
  height: 450px;
  margin: 3rem;
  padding: 1rem;
  background-color: rgba(176, 99, 121, 0.33);
  border-radius: 1rem;
  box-shadow: 2px 0px 20px 0px rgba(00, 0, 0, 0.6);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.container > p:nth-child(1) {
  padding-right: 1rem;
  font-size: 2rem;
}
.container > p:nth-child(2) {
  padding-right: 1rem;
}
