* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(210, 199, 199);
}
h1 {
  padding: 1.5rem;
  font-size: 3rem;
  background-color: black;
  color: beige;
  text-align: center;
  display: flex;
  justify-content: center;
}

.toolBar {
  margin-top: 3rem;
  margin-left: 2rem;
  box-sizing: content-box;
  width: 250px;
  height: 35px;
  border: none;
  background-color: rgb(181, 162, 162);
  border-radius: 0.5rem;
  color: whitesmoke;
  
}

/* .beer {
  width: 10rem;
  height: 10rem;
  margin: 3rem;
  background-color: gray;
} */
